<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
    <div class="container">
  <div class="row">
        <div class="col-md-12 text-center" style="padding-bottom: 20px">
          <h2>Поиск статьи</h2>
        <form>
                                              <%= form_tag("/", method: :get) do %>

            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" name="title" value="<%= params[:title] %>" placeholder="Введите ключевое слово заголовка" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
                                      <% end %>            

        </form>
        </div>
        <br/>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <td>Заголовок</td><td>Аннотация</td>
          </tr>
        </thead>
        <tbody class="thead-light">
    <%- @articles.each do |item| %>
      <tr>
      <td><%= item["title"] %></td>
      <td><%= item["abstract"] %></td>
    </tr>
    <% end %>
    </tbody>
      </div>
</div>
  </body>


</html>